

            <section class="about section-padding" id="about_me">
                <div class="container">
                    <div class="row">

{#                        <div class="col-lg-6 col-12">#}
{#                            <img src="/static/images/couple-working-from-home-together-sofa.jpg" class="about-image img-fluid" alt="">#}
{#                        </div>#}

                         <div class="col-lg-6 col-12">
                            <div class="profile-thumb">
                                <div class="profile-title">
                                    <h4 class="mb-0"> Quick Stats: </h4>
                                </div>

                                <div class="profile-body">
                                    <p>
                                        <span class="profile-small-title">Name     </span>
                                        <span>Angel Petrov</span>
                                    </p>

                                    <p>
                                        <span class="profile-small-title">Age     </span>
                                        <span>33</span>
                                    </p>

                                    <p>
                                        <span class="profile-small-title">Cert.</span>


                                        <span>
                                            Python Web Developer, Web Applications with Flask
                                        </span>

                                        <span class="profile-small-title"></span>


                                        <span> and JS Web Development
                                            at <a style="color: black" href="https://softuni.bg"
                                        target="_blank">Soft Uni.</a>
                                        </span>

{#                                        <span class="profile-small-title"> </span>#}
{##}
{#                                        <span>Web Applications with Flask,#}
{#                                            <a style="color: black" href="https://softuni.bg" target="_blank">#}
{#                                                Soft Uni</a>#}
{#                                        </span>#}
{##}
{#                                        <span class="profile-small-title"></span>#}
{#                                        <span>JS Web Development,#}
{#                                            <a style="color: black" href="https://softuni.bg" target="_blank">#}
{#                                                Soft Uni</a>#}
{#                                        </span>#}

                                    </p>

                                    <p>
                                        <span class="profile-small-title">Educ.</span>

                                        <span>BA Financial Services,
                                            <a style="color: black" href="https://www.ljmu.ac.uk" target="_blank">
                                                Liverpool John Moores University.</a>
                                        </span>
                                        <span class="profile-small-title"></span>
                                        <span>MSc Financial Economics,
                                            <a style="color: black" href="https://www.ru.nl/en" target="_blank">
                                                Radboud University.</a>
                                            </span>
                                    </p>

                                    <p>
                                        <span class="profile-small-title">Location</span>
                                        <span><a href="">Hamburg, Germany.</a></span>
                                    </p>


                                    <p>
                                        <span class="profile-small-title">CV</span>
                                        <span>
                                            <a  style="color: black"
                                                href="https://drive.google.com/file/d/1ByrfFyRVAwtqLn0PPWJ9nigHPM-Efa2_/view?usp=share_link"
                                                 target="_blank"> Open
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                            <div class="about-thumb">

                                <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                                    <h2 class="text-white me-4 mb-0">About me</h2>

                                    <img src="/static/images/my_pics/bench_by_the_beach.jpeg" class="avatar-image img-fluid" alt="">
                                </div>

                                {% include 'partials/sub-partials/about_me_text.html' %}

                            </div>
                        </div>

                        <p>
                            As a result, I decided to expand my knowledge and
                            dedicated time and efforts to studying front and back-end web development with
                            Python and JavaScript.
                        </p>

                        <p>
                            Throughout this journey I learned how to build RESP API, Single Page (SPA) and
                            Server Side Rendered (SRR) applications.
                            The web-frameworks I focused on are Flask, Django, Angular 2.
                            Furthermore, I gained valuable experience working with vanilla JavaScript (Page, Lit-Html),
                            as well as writing code in strongly typed languages, such as TypeScript.
                            I learned how to work with Git, HTML + CSS, integrate 3rd party APIs, use AWS services (EC2 & S3) and
                            deploy apps (Docker, AWS EC2 & Nginx). In fact, this very page is powered by Django, Docker, Nginx & AWS EC2.
                        </p>

                        <p>
                            Overall, this has been a tremendous learning experience, and I'm looking for the right opportunity to make it a professional one.
                        </p>


                    </div>
                </div>
            </section>