
       <div class="col-lg-6 col-12">
            <div class="services-thumb services-thumb-up">
                <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                    <h3 class="mb-0">Branding</h3>

                    <div class="services-price-wrap ms-auto">
                        <p class="services-price-text mb-0">$1,200</p>
                        <div class="services-price-overlay"></div>
                    </div>
                </div>

                <p>You can explore more CSS templates on TemplateMo website by browsing through different tags.</p>

                <a href="#" class="custom-btn custom-border-btn btn mt-3">Discover More</a>

                <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                    <i class="services-icon bi-lightbulb"></i>
                </div>
            </div>
        </div>


       <div class="col-lg-6 col-12">
            <div class="services-thumb">
                <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                    <h3 class="mb-0">Ecommerce</h3>

                    <div class="services-price-wrap ms-auto">
                        <p class="services-price-text mb-0">$3,600</p>
                        <div class="services-price-overlay"></div>
                    </div>
                </div>

                <p>If you need a customized ecommerce website for your business, feel free to discuss with me.</p>

                <a href="#" class="custom-btn custom-border-btn btn mt-3">Discover More</a>

                <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                    <i class="services-icon bi-phone"></i>
                </div>
            </div>
       </div>