

    <nav class="navbar navbar-expand-lg">
            <div class="container">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a href="{% url 'home' %}" class="navbar-brand mx-auto mx-lg-0">A. Petrov</a>


                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto menu-btns">

                                <li class="">
                                    <a class="nav-link click-scroll" href="#home">Home</a>
                                </li>

                                <li class="">
                                    <a class="nav-link click-scroll"
                                       href="https://drive.google.com/file/d/1ByrfFyRVAwtqLn0PPWJ9nigHPM-Efa2_/view?usp=share_link"
                                       target="_blank">
                                        CV
                                    </a>
                                </li>

                                <li class="">
                                    <a class="nav-link click-scroll" href="#about_me">About Me</a>
                                </li>


                                <li class="">
                                    <a class="nav-link click-scroll" href="#projects">Projects</a>
                                </li>

                                <li class="">
                                    <a class="nav-link click-scroll" href="#contact">Contact</a>
                                </li>
                    </ul>

                    <div class="d-lg-flex align-items-center d-none ms-auto">
                        <a class="custom-btn btn" href="#contact">
                            Get in touch
                        </a>
                    </div>


                </div>

            </div>

    </nav>


