
        <section class="projects section-padding-projects" id="projects">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-12 section-padding-projects" style='width: 1600px'>
                        <div class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
                            <img src="/static/images/section_photos/projects.jpg" class="avatar-image img-fluid" alt="">

                            <h2 class="text-white ms-4 mb-0">Projects</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="projects-thumb">
                            <div class="projects-info">
                                <small class="projects-tag">Angular 2 + FLASK / SPA + REST API</small>

                                <h3 class="projects-title"> Clear Career </h3>
                            </div>

                            <a href=https://github.com/petrov8/ClearCareer/blob/main/README.md target="_blank">
                                <img src="/static/images/project_photos/ClearCareer.jpg" class="projects-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="projects-thumb">
                            <div class="projects-info">
                                <small class="projects-tag">Django / SSR </small>

                                <h3 class="projects-title"> Django Academy </h3>
                            </div>

                            <a href=https://github.com/petrov8/DjangoAcademy/blob/main/README.md target="_blank">
                                <img src="/static/images/project_photos/DjangoAcademy.png" class="projects-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="projects-thumb">
                            <div class="projects-info">
                                <small class="projects-tag"> Django / SSR </small>

                                <h3 class="projects-title"> Online Resume </h3>
                            </div>

                            <a href=https://github.com/petrov8/Portfolio/blob/main/README.md target="_blank">
                                <img src="/static/images/project_photos/OnelineResume.png" class="projects-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>