<!doctype html>
<html lang="en">

{% load static %}

    <!-- START HEADERS -->

    {% include 'partials/headers.html' %}

    <!-- END -->
    
    <body>

    <!-- START NAV -->

        {% include 'partials/nav.html' %}

    <!-- END -->


        <main>

            {% include 'partials/home.html' %}

        <!-- START ABOUT_ME -->

            {% include 'partials/about_me.html' %}

        <!-- END -->


        <!-- START PROJECTS -->

            {% include "partials/projects.html" %}

        <!-- END -->


        <!-- START CONTACT SECTION -->

            {% include 'partials/contact.html' %}

        <!-- END -->

        </main>


        <!-- START FOOTER  -->

        {% include 'partials/footer.html' %}

        <!-- END -->

    </body>
</html>