



<p>

    My previous experience includes 7 years in Finance (Controlling, Risk Management, Structured Trade Finance and Trade
    Finance), where I occasionally found myself automating excel imports, reports or creating data analysis tools (VBA).
    There was something about working with code I derived a great sense of satisfaction from. Streamlining a process,
    making it more robust and helping my team reduce the time needed to perform a certain task, only reinforced this inner
    feeling. It was often the case I volunteered to participate in IT projects, and it wasn't long before I became more
    interested in dealing with the IT aspects of a project, rather than its financial components.

</p>
