
{% if form_errors %}


            <div class="col-lg-7 col-12">
                <div class="hero-text">
                    <div class="hero-title-wrap d-flex align-items-center mb-4">
    {#                                    <img src="/static/images/my_pics/by_garage_door.JPG" class="avatar-image avatar-image-large img-fluid" alt="">#}

                        <h1 class="hero-title ms-3 mb-0">Ooops .... </h1>

                    </div>

                        <div class="container">

                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li class="custom-btn btn custom-link"> Field "{{ field.label }}" - {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>

    {#                                <h3 class="mb-4">Let me tell you about myself</h3>#}
                    <p class="ms-5 mb-0"><a class="custom-btn btn custom-link" href="#contact">Back to form</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-12 position-relative">
                <div class="here-image-wrap"></div>
                <img src="/static/images/my_pics/by_garage_door.JPG" class="hero-image-wrap img-fluid"
                     style="height: 420px; width: 350px"
                     alt="">
            </div>


{%  elif not email_sent %}

            <div class="col-lg-7 col-12">
                <div class="hero-text">
                    <div class="hero-title-wrap d-flex align-items-center mb-4">
{#                                    <img src="/static/images/my_pics/by_garage_door.JPG" class="avatar-image avatar-image-large img-fluid" alt="">#}

                        <h1 class="hero-title ms-3 mb-0">Hello and welcome to my page!</h1>
                    </div>

{#                                <h3 class="mb-4">Let me tell you about myself</h3>#}
                    <p class="ms-5 mb-0"><a class="custom-btn btn custom-link" href="#about_me">Let me tell you about myself</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-12 position-relative">
                <div class="here-image-wrap"></div>
                <img src="/static/images/my_pics/by_garage_door.JPG" class="hero-image-wrap img-fluid"
                     style="height: 420px; width: 350px"
                     alt="">
            </div>

{% else %}

                <div class="col-lg-7 col-12">
                <div class="hero-text">
                    <div class="hero-title-wrap d-flex align-items-center mb-4">
{#                                    <img src="/static/images/my_pics/by_garage_door.JPG" class="avatar-image avatar-image-large img-fluid" alt="">#}
                        <h1 class="hero-title ms-3 mb-0">
                            Thank you for your message! <br>
                            I will be in touch shortly.
                        </h1>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 position-relative">
                <div class="here-image-wrap"></div>
                <img src="/static/images/my_pics/bench_by_the_beach.jpeg" class="hero-image-wrap img-fluid"
                     style="height: 420px; width: 350px"
                     alt="">
            </div>

{% endif %}